name: Trigger Vercel Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check secret exists
        run: |
          if [ -z "$VERCEL_DEPLOY_HOOK_URL" ]; then
            echo "❌ VERCEL_DEPLOY_HOOK_URL is EMPTY"
            exit 1
          else
            echo "✅ Secret is present"
          fi
        env:
          VERCEL_DEPLOY_HOOK_URL: ${{ secrets.VERCEL_DEPLOY_HOOK_URL }}

      - name: Trigger Vercel Deploy Hook
        run: |
          curl -sS -o /tmp/resp.txt -w "HTTP_STATUS=%{http_code}\n" -X POST "$VERCEL_DEPLOY_HOOK_URL"
          cat /tmp/resp.txt
        env:
        VERCEL_DEPLOY_HOOK_URL: ${{ https://api.vercel.com/v1/integrations/deploy/prj_ssw3PuSfMdSGpGluw9548pjEwQaB/SGyHvJmyq8 }}


